* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border-radius: 100%;
    width: 30%;
    margin: 20px;
}

h2 {
    color: hsl(0, 0%, 100%);
    margin: 10px;
    font-weight: 400px;
}

h4 {
    color: hsl(75, 94%, 57%);
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600px;
}

p {
    color: hsl(0, 0%, 100%);
    margin: 30px;
    font-size: 14px;
    font-weight: 400px;
}

div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700px;
}

a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}

