* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 630px;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 320px;
    height: 530px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 13px;
    padding: 25px;
    color: white;
    box-shadow: 0 25px 50px rgb(0, 0, 0);
    /*transition: 0.3s;*/
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 7px;
}

h1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

p.primeiro {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(215, 51%, 70%);
}

.container {
    position: relative;
    display: inline-block;
}

.container img {
    width: 15%;
    border-radius: 50%;
    border: 1px solid white;
    object-fit: cover;
    margin-top: 15px;
}

.texto-sobreposto {
    transform: translate(18%, -95%);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(215, 51%, 70%);
}

strong#p1 {
    color: white;
}

.container1 {
  position: relative;
  display: inline-block;
}

.container1 img {
  width: 25%;
  margin-top: 15px;
  transform: translate(550%);
}

.texto-sobreposto1 {
  transform: translate(170%, -115%);
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(215, 51%, 70%);
}


.container2 {
  position: relative;
  display: inline-block;
}

.container2 img {
  width: 15%;
  margin-top: 20px;
}

.texto-sobreposto2 {
  transform: translate(25%, -110%);
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(178, 100%, 50%);
}

hr {
    margin-top: -4px;
    border: none;
    height: 1px;
    background-color: hsl(215, 32%, 27%); 
}