@charset "UTF-8";

body {
    background-color: hsl(148, 38%, 91%);
}

main {
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}