* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: hsl(235, 18%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
}

img#f0 {
    translate: -18px -18px;
    width: 340px;
}

main {
    width: 340px;
    background-color: white;
    border-radius: 10px;
    padding: 18px;
}

h1 {
    color: hsl(234, 29%, 20%);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: hsl(234, 29%, 20%);
}