@charset "UTF-8";


body {
    background-color: hsl(212, 45%, 89%);
    Font-size : 15px;
}

main {
    background-color: white;
    text-align: center;
    width: 250px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 150px;
    margin-top: 10px;
    border-radius: 5px;
}