* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 27px;
    text-align: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

p#p1 {
    text-align: center;
    color: hsl(75, 94%, 57%);
    margin: 10px;
}

p#p2 {
    text-align: center;
    margin: 15px;
    margin-top: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 338px;
    height: 568px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 13px;
    padding: 25px;
    color: white;
    transition: 0.3s;
}

img {
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
    width: 100px;
}


a {
    text-decoration: none;
    margin: 10px;
    width: 270px;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    color: white;
    padding: 13px 20px;
    border-radius: 8px;
    display: inline-block;
    transition: all 0.25s ease-in-out;
    font-weight: bold;
}

a:active {
    background-color: hsl(75, 94%, 57%);
}

a:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
}