* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 1040px;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 340px;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    color: black;
    box-shadow: 8px 5px 0px black;
    transition: 0.3s;
}

h1 {
    text-align: center;
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    color: rgb(39, 39, 39);
}

strong {
    color: black;
}

h2 {
    margin-top: 15px;
}

ol {
    padding-left: 30px;
    margin-top: 10px;
}

ul {
    padding-left: 30px;
    margin-top: 10px;
}

hr {
    margin-top: 20px;
}

h2#p1 {
    text-align: center;
    margin-top: 20px;
}

.p2 {
    display: block;
    margin-top: 10px;
}

.p2:hover {
    background-color: black;
    width: 145px;
    color: white;
    transition: 0.3s;
    border-radius: 8px;
}

.botao {
    display: block;
    margin: auto;
    background-color: rgb(16, 16, 190);
    color: white;
    width: 100px;
    height: 50px;
    margin-top: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover {
    background-color: #357abd;
    transform: scale(1.05);
}