* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 1050px;
    background-color: rgba(0, 128, 0, 0.767);
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 340px;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    color: black;
    box-shadow: 0 10px 10px black;
    transition: 0.3s;
}

h1 {
    text-align: center;
}

p {
    margin-top: 15px;
}

h2 {
    margin-top: 15px;
}

ol {
    padding-left: 30px;
    margin-top: 10px;
}

ul {
    padding-left: 30px;
    margin-top: 10px;
}

hr {
    margin-top: 20px;
}

h2#p1 {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: rgb(16, 16, 190);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    margin-left: 95px;
    margin-top: 20px;
    cursor: pointer;
}