@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 1350px;
    background-color: #7058fa;
    /*background-color: rgb(83, 83, 253);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 340px;
    background-color: white;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.589);
    /*box-shadow: 0 25px 50px rgba(0, 0, 0, 0.877);*/
    transition: 0.3s;
}

hr {
    margin-top: 20px;
    border: none;
    height: 2px;
    background-color: black;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p#primeiro {
    padding-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2#p1 {
    text-align: center;
    padding-top: 20px;
    margin: 15px;
    background-color: yellow;
    padding: 10px;
    border-radius: 100px;
}

ul.l1 {
    padding-left: 35px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

p#segundo {
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px;
    color: white;
    text-align: center;
    background-color: hsl(169, 82%, 27%);
    box-shadow: 3px 3px 5px black;
}


h2#p2 {
    text-align: center;
    padding-top: 20px;
    margin: 20px;
    background-color: yellow;
    padding: 10px;
    border-radius: 100px;
}

ul.l2 {
    padding-left: 35px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

p#terceiro {
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px;
    color: white;
    text-align: center;
    background-color: hsl(169, 82%, 27%);
    box-shadow: 3px 3px 5px black;
}


h2#p3 {
    text-align: center;
    padding-top: 20px;
    margin: 20px;
    background-color: yellow;
    padding: 10px;
    border-radius: 100px;
}

ul.l3 {
    padding-left: 35px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

p#quarto {
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px;
    color: white;
    text-align: center;
    background-color: hsl(169, 82%, 27%);
    box-shadow: 3px 3px 5px black;
}


h2#p4 {
    text-align: center;
    padding-top: 20px;
    margin: 20px;
    background-color: yellow;
    padding: 10px;
    border-radius: 100px;
}

ul.l4 {
    padding-left: 35px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

p#quinto {
    text-align: center;
    padding: 30px;
    background-color: hsl(169, 82%, 27%);
    margin-top: 30px;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px black;
}