@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(47, 88%, 63%);
}

main {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

h4 {
  background-color: hsl(47, 88%, 63%);
  border-radius: 10px;
  padding-left: 10px;
}