* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 1500px;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 320px;
    height: 1400px;
    background-color: white;
    border-radius: 18px;
    padding: 25px;
    color: black;
    box-shadow: 0 25px 50px;
    /*transition: 0.3s;*/
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 7px;
}


.container-calorias {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
}
