* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 1900px;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 320px;
    height: 1800px;
    background-color: white;
    border-radius: 18px;
    padding: 25px;
    color: black;
    /*box-shadow: 0 25px 50px;*/
    /*transition: 0.3s;*/
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 7px;
}

hr#h1 {
    margin-top: 25px;
    border: none;
    height: 1px;
    background-color: hsl(30, 18%, 87%);
}

hr#h2 {
    margin-top: 10px;
    border: none;
    height: 1px;
    background-color: hsl(30, 18%, 87%);
}

h1 {
    margin-top: 15px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(24, 5%, 18%);
}

p.principal {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(30, 10%, 34%);
}

ul.primeiro1 {
    margin-top: 28px;
    height: 175px;
    width: 270px;
    border-radius: 8px;
    background-color: hsl(330, 100%, 98%);
    font-family: Arial, Helvetica, sans-serif;
}

#p1 {
    padding: 4px;
    margin-left: 40px;
    color: hsl(30, 10%, 34%);
}

strong {
    color: (24, 5%, 18%);
}

h2.primeiro {
    color: hsl(332, 51%, 32%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding: 18px;
}

/*
ul.primeiro1 {
  list-style: none;
}

ul li#p1::before {
  content: "\2022";
  color: hsl(332, 51%, 32%);
  font-weight: bold;
  display: inline-block;
}*/

ul.segundo2 {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

h2.segundo {
    color: hsl(14, 45%, 36%);
    font-family: Arial, Helvetica, sans-serif;
}

#p2 {
    padding: 1px;
    margin-top: 15px;
    margin-left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(30, 10%, 34%);
}

h2.terceiro {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(14, 45%, 36%);
}

strong#primeiro {
    color: hsl(24, 5%, 18%);
    font-size: ;
}

li#c1 {
    color: hsl(30, 10%, 34%);
    margin-top: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

li#c2 {
    color: hsl(30, 10%, 34%);
    margin-top: 15px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

li#c3 {
    color: hsl(30, 10%, 34%);
    margin-top: 15px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

li#c4 {
    color: hsl(30, 10%, 34%);
    margin-top: 15px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

li#c5 {
    color: hsl(30, 10%, 34%);
    margin-top: 15px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

li#c6 {
    color: hsl(30, 10%, 34%);
    margin-top: 15px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h2#quarto {
    margin-top: 20px;
    color: hsl(14, 45%, 36%);
    font-family: Arial, Helvetica, sans-serif;
}

p#paragrafo {
    margin-top: 20px;
}

.container-calorias {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 4px;
}