* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 1500px;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 320px;
    height: 1400px;
    background-color: white;
    border-radius: 18px;
    padding: 25px;
    color: black;
    box-shadow: 0 25px 50px;
    /*transition: 0.3s;*/
}

h1 {
    margin-top: 15px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(24, 5%, 18%);
}

p.principal {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(30, 10%, 34%);
}

ul.primeiro1 {
    margin-top: 25px;
    height: 150px;
    border-radius: 8px;
    background-color: hsl(330, 100%, 98%);
    font-family: Arial, Helvetica, sans-serif;
}

h2.primeiro {
    color: hsl(332, 51%, 32%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 7px;
}


.container-calorias {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
}
