* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 245px;
    height: 445px;
    background-color: white;
    border-radius: 18px;
    padding: 25px;
    color: black;
    box-shadow: 9px 9px;
    border: 1px solid black;
    transition: 0.3s;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 7px;
}

p.primeiro {
    background-color: hsl(47, 88%, 63%);
    width: 83px;
    height: 20px;
    margin-top: 23px;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p.segundo {
    margin-top: 18px;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

p.terceiro {
    margin-top: 18px;
    color: hsl(0, 0%, 42%);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 20px;
    font-size: 20px;
}

.container {
  position: relative; /* Define o contexto */
  display: inline-block; /* Ajusta ao tamanho da imagem */ 
}

.container img {
  width: 30%;
  margin-top: 25px;
}

.texto-sobreposto {
  transform: translate(30%, -105%);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}