* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 340px;
    background-color: white;
    border-radius: 18px;
    padding: 25px;
    color: black;
    box-shadow: 6px 6px;
    transition: 0.3s;
}