* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 340px;
    height: 500px;
    background-color: white;
    border-radius: 18px;
    padding: 25px;
    color: black;
    box-shadow: 9px 9px;
    border: 1px solid black;
    transition: 0.3s;
}

p.primeiro {
    background-color: hsl(47, 88%, 63%);
    width: 100px;
    height: 20px;
    margin-top: 23px;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
}