@charset "UTF-8";

body {
    background-color: hsl(148, 38%, 91%);
}

main {
    padding-left: 20px;
    padding-top: 5px;
    width: 300px;
    height: 410px;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.432);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div#prin {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

input#txt1 {
    width: 250px;
}

div#secun {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

input#txt2 {
width: 250px;
}

div#tre {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

input#txt3 {
    width: 250px;
}

div#four {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

input#submit {
    width: 280px;
    height: 50px;
    border-radius: 10px;
    background-color: hsl(169, 82%, 27%);
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.438);
    margin-top: 20px;
}