@charset "UTF-8";

body {
    background-color: hsl(148, 38%, 91%);
}

main {
    width: 375px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin: 0 auto;
}