@charset "UTF-8";

body {
    background-color: hsl(148, 38%, 91%);
}

main {
    padding-left: 20px;
    padding-top: 5px;
    width: 300px;
    height: 375px;
    background-color: white;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin: 0 auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

div.prin {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
}